th:empty {
    display: none;
}

:root {
    --md-default-bg-color: transparent;
}

.md-header, .md-footer {
    background: linear-gradient(171.84deg, rgba(0, 0, 0, 1.0) 0%, rgba(32, 0, 63, 1.0) 100%);
}
